@font-face {
  font-family: myFirstFont;
  src: url(Cinzel-Regular.ttf);
}
.SIimage{
   margin-top: 10%;
}


.textBoxesHannah {
  text-align: right;
  margin-right: 41%;
}

.backgroundColor {
  font-family: myFirstFont;
  text-align: center;
  color: white;
  background-color: crimson;

}

a{
  color:black;
}
.bodycolor {
    background-color: crimson;
    font-family: myFirstFont;
    color: white;
}
input[type="text"],input[type = "number"],input[type = "password"], textarea,select {

  background-color : salmon; 

}

.SIbutton {
  background-color: palevioletred;
  color: black;
}
.stripeOne {
  transform-origin: left;
  background-color: coral;
  transform: rotate(45deg);
  color: coral;
}
.stripeTwo {
  transform-origin: right;
  background-color: palevioletred;
  transform: rotate(45deg);
  color: palevioletred;
}
.SIheader {
  background-color: salmon;
}


/*UPLOAD PAGE*/
.uploadForm {
  /* Center the form on the page */
  margin: 0 auto;
  width: 600px;
  
}
.uploadForm fieldset{
  /* Form outline */
  padding: 1em;
  border: 1px solid #000;
  border-radius: 1em;
}
.uploadForm legend{
  text-align: center;
}
.formList{
  list-style: none;
  padding: 0;
  margin: 0;
}
.formList label{
  /*make sure labels are aligned to the right pushed up against fields*/ 
  display:inline-block;
  width: 130px;
  text-align: right;
  
}
.formList textarea{
  /*so label is aligned to the top of the textarea*/
  vertical-align: top;
}
.formList textarea, input[type = "number"]{
  font-family: Arial, Helvetica, sans-serif;
}
.formList li + li{
  margin-top: 1em;

}
/*END UPLOAD*/


/*checkout page*/
.cartContainer{
  /* Center the container on the page */
  margin: 0 auto;
  width: 60%;
  
  min-height: 300px;
}
.cartFieldset{
  border-radius: 1em;
}
table.tableCart{
  width: 100%;
  border-collapse: collapse;
}
table.tableCart td{
  border:1px solid black;
}
.cartItem{
  width:70%;
}
.cartOthersAttribs{
  width:15%;
}
.paymentInfoForm{
  align-content: left;


}
.paymentInfoForm fieldset{
  width: 70%;
  border-radius: 1em;
}
.paymentInfoForm .inStoreCredit{
  border:1px solid black;
}
.submissionContainer{
  width: 100%;
  text-align: center;
}


/*END CHECKOUT*/


/*Viet's CSS*/
.navbar{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-top: 20px;

}

.navbar ul{
  padding: 0px;
  margin: 0px;
}

.navbar ul li{
  float:left;
  list-style: none;
  padding: 5px;

}

.navbar ul li .searchbar{
  height:35px;
  font-size:18px;
  width: 500px;
}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}


.row {
  display: flex;
  background-color:red;
}

.filters {
  flex: 15%;
  margin: auto;
}

.filterForm {
  text-align: center;
}

.container{
    flex: 85%;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: white;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background: white;
    margin :20px 0px 20px 55px; 
    border:2px solid gray;
    box-sizing: border-box;
}
.container ul li:hover{
    opacity: 0.8;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    background: red;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}

@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin-left: 40px;
         
    }
  }
